<%- include('../common/header') %>

    <!--  Body Wrapper -->
    <!-- For Sending Reset link -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="alert alert-danger alert-message-div"
                                    style="display: block;text-align: center;font-size: initial;">
                                    <span id="alert-message"></strong></span>
                                </div>
                                <div class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="/assets/images/logos/netbud_mascot_text.png" width="180" alt="">
                                </div>
                                <form onsubmit="return submitForm(event);">
                                    <div class="mb-3">
                                        <label for="email" class="form-label ">Enter your email to get reset password link</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <a class="text-primary fw-bold ms-2" href="/register">Create an account</a>
                                        <span>Have an Account ? <a class="text-primary fw-bold" href="/login">Sign In</a></span> 
                                    </div>
                                    <button type="submit" class="btn btn-success w-100 py-8 fs-4 mb-4 rounded-2">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- For reset -->
    <!-- <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="alert alert-danger alert-message-div"
                                    style="display: block;text-align: center;font-size: initial;">
                                    <span id="alert-message"></strong></span>
                                </div>
                                <div class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="/assets/images/logos/netbud_mascot_text.png" width="180" alt="">
                                </div>
                                <form onsubmit="return submitForm(event);">
                                    <div class="mb-3">
                                        <label for="email" class="form-label ">Enter OTP</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <a class="text-primary fw-bold ms-2" href="/register">Create an account</a>
                                        <span>Have an Account ? <a class="text-primary fw-bold" href="/login">Sign In</a></span> 
                                    </div>
                                    <button type="submit" class="btn btn-success w-100 py-8 fs-4 mb-4 rounded-2">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <script>
        $(document).ready(function () {
            $('.alert-message-div').hide();
        });
        function submitForm(event) {
            event.preventDefault();

            var email = document.getElementById('email').value;

            var alertMessageElement = document.getElementById('alert-message');
            var alertElement = alertMessageElement.parentElement;

            var data = { email, password };

            fetch('/api/user/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                credentials: 'include'
            })
                .then(response => {
                    if (response.status === 202) {
                        alertElement.className = 'alert alert-success alert-message-div';
                        return response.json();
                    } else {
                        alertElement.className = 'alert alert-danger alert-message-div';
                        return response.json();
                    }
                })
                .then(data => {
                    if (data.JWT) {
                        window.location.href = '/about';
                    } else {
                        alertMessageElement.textContent = data.Message;
                        alertElement.style.display = 'block';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            return false;
        }

    </script>


    <%- include('../common/footer') %>