<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>

<!-- apexcharts -->
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- Plugins js-->
<script src="/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>

<script src="/assets/js/pages/dashboard.init.js"></script>

<!-- Required datatable js -->
<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Datatable init js -->
<script src="/assets/js/pages/datatables.init.js"></script>
<!-- Buttons examples -->
<script src="/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="/assets/js/app.js"></script>

<!-- for chart -->
<!-- Plugin Js-->
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>
<!-- demo js-->
<script src="/assets/js/pages/apexcharts.init.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>


<script>
  // Hide error alert box
  $(document).ready(function () {
    $('.alert-message-div').hide();
    $('.alert').hide();
  });


  $("#comp_close").click(function () {

    if ($("#remarks_text").val() == "") {
      $('#warning-modal').modal('show');
    } else {
      var userId = $("#remarks_text").attr('uid');
      $('#myModal').modal('show');
    }
  });

  $('#report-submit').click(function () {

    if ($('#outcome :selected').val() == "Select") {
      $('#myModal').modal('hide');
      $('#warning-modal').modal('show');
    } else {
      $('#myModal').modal('hide');
      let remarks_text = $('#remarks_text').val();
      let outcome = $('#outcome :selected').val()
      const _id_val = $('#_id_val').val();
      const request = new XMLHttpRequest();
      request.open('PUT', '/api/complaint/close-complaint');
      request.setRequestHeader('Content-Type', 'application/json');
      request.send(JSON.stringify({ remarks_text, outcome, _id: _id_val }));

      // Handle the response
      request.onload = function () {
        if (request.status === 200) {
          alert('Complaint closed successfully');
          window.location.href = '/complaintDetails';
        } else {
          alert('Something went wrong');
        }
      };


    }
  })

  $(document).ready(function () {
    $('#downloadBtn').on('click', function () {
      $('#downloadModal').modal('hide');
      var id = $('#_id_val').val();
      if ($('#sim1Checkbox').is(':checked') && $('#sim2Checkbox').is(':checked')) {

        var anchor = document.createElement('a');
        anchor.href = 'https://tiny-jade-camel-hose.cyclic.cloud/api/admin/complaints/exportpdfsim1/' + id;
        anchor.target = "_blank";
        anchor.click();

        setTimeout(function () {
          var anchor = document.createElement('a');
          anchor.href = 'https://tiny-jade-camel-hose.cyclic.cloud/api/admin/complaints/exportpdfsim2/' + id;
          anchor.target = "_blank";
          anchor.click();
        }, 1000);
        $('#sim1Checkbox').prop('checked', false);
        $('#sim2Checkbox').prop('checked', false);
      } else if ($('#sim2Checkbox').is(':checked')) {
        var anchor = document.createElement('a');
        anchor.href = 'https://tiny-jade-camel-hose.cyclic.cloud/api/admin/complaints/exportpdfsim2/' + id;
        anchor.target = "_blank";
        anchor.click();
        $('#sim2Checkbox').prop('checked', false);
      } else if ($('#sim1Checkbox').is(':checked')) {
        var anchor = document.createElement('a');
        anchor.href = 'https://tiny-jade-camel-hose.cyclic.cloud/api/admin/complaints/exportpdfsim1/' + id;
        anchor.target = "_blank";
        anchor.click();
        $('#sim1Checkbox').prop('checked', false);
      } else {
        $('#downloadModal').modal('hide');
        $(".alert").fadeTo(2000, 500).slideUp(500, function () {
          $(".alert").slideUp(500);
        });
      }
    });
  });
</script>



</body>

</html>